/* index */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html, body{
    width: 100%;
    height: 100%;
  }
  
  .layerpop_imgWrapper{
    padding: 0;
  }
  

/* Main */
#root, .Main{
    width: 100%;
    height: 100%;
  }
  
  .Main{
    display: flex;
    flex-direction: column;
  }


/* Header */
.Header{
    box-sizing: content-box;
    position: fixed;
    background-color: #111016;
    padding: 20px 0;
    color: white;
    font-size: 16px;
    height: 80px;
    min-height: 80px;
}

.Header_innerBox{
    position: relative;
    height: 100%;
}

.Header, .Header_innerBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_logo_btn{
    position: absolute;
    right: 80%;
}

.Header_logo{
    width: 80px;
    height: auto;
}

ul{
    list-style: none;
    margin: 0;
    height: 50%;
    display: flex;
    align-items: center;
}

li{
    float: left;
    padding-left: 0;
    height: 100%;
}

.Header_banner{
    margin: 0;
    height: 100%;
}

.Header_banner_content{
    padding: 0 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: font-size 0.8s;;
    transition: font-size 0.8s;
}
.Header_banner_content:hover{
    font-size: 20px;
}

.Header_banner_dropdownMenu_Container{
    display: none;
    position: absolute;
    top: 80px;
    transition: display 5s;
}

.Header_banner_dropdownMenu{
    width: 500px;
    height: 200px;
    background-color: white;
    display: flex;
}

.banner_dropdown{
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    width: 50%;
    height: 100%;
    transition: background-color 0.8s, color 0.6s;
    color: #111016;
}

.banner_dropdown:hover{
    background-color: pink;
    color: white;
}

.banner_dropdown img{
    width: 100%;
    height: 80%;
}

.banner_dropdown p{
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
}

/* 헤더 로그인 */
.Header .Header_loginBtn{
    box-sizing: content-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 10%;
    color: #dddddd;
    border: 1.5px solid #dddddd;
    border-radius: 5px;
    height: 20%;
    padding: 5px 10px;
    cursor: pointer;
}

.Header .Header_loginBtn:hover{
    background-color: #333333;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #000000;
    opacity: 0.5;
    display: none;
}

.layerpop {
    display: none;
    z-index: 1000;
    border-radius: 5px;
    width: 65%;
    height: 520%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layerpop_area .layerpop_close {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.layerpop_area .layerpop_close:hover {
    cursor: pointer;
}

.layerpop_area .content {
    width: 96%;    
    margin: 2%;
    color: #828282;
    border-radius: 5px;
}

.layerpop_imgWrapper{
    box-sizing: border-box;
    width: 42%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}

.layerpop_imgWrapper, .layerpop_img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.layerpop_loginWrapper{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.layerpop_loginWrapper{
    box-sizing: border-box;
    width: 58%;
    height: 100%;
    background-color: #ccc;
}

.layerpop_img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}


/* Content */
.Content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #333333;
    color: white;
    font-size: 18px;
    margin-top: 120px;
}

.ChatBotBtn, .BlockChainBtn{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: background-color 1s, font-size 1s;
    transition: background-color 1s, font-size 1s;
}

.ChatBotBtn:hover, .BlockChainBtn:hover{
    background-color: #222222;
    font-size: 22px;
}

/* ChatBot Page */
.ChatBot{
    width: 100%;
    height: 100%;
}

.ChatBot_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/background_flower.jpg);
    background-position: bottom;
    background-attachment: fixed;
}

.ChatBot_title{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ChatBot_Content_Container{
    width: 100%;
    background-color: fff;
}

.ChatBot_Content_innerContainer{
    width: 100%;
    box-sizing: border-box;
    margin: 70px auto;
    padding: 0 50px;
}

.ChatBot_Demo_Btn_Container{
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.ChatBot_Deomo_Btn{
    background-color: #f8dc88;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0 auto;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
    transition: padding 0.8s;
}
.ChatBot_Deomo_Btn:hover{
    padding: 20px 5px;
}

.ChatBot_Deomo_Btn p{
    margin: 0;
}

/* 챗봇 데모 컴포넌트 */
.ChatBot_Container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fab7b7;
}

.ChatBotDemo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.ChatBotDemo_Title{
    width: 100%;
    height: 8%;
    background-color: #f8dc88;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ChatBotDemo_Title h5{
    margin: 0 auto;
}

.ChatBotDemo_Main_Container{
    width: 100%;
    height: 92%;
    background-color: #f8fab8;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.ChatBot_ChattingBox_Container_Wrapper{
    width: 100%;
    height: 80%;
    overflow: auto;
}

.ChatBot_ChattingBox_Container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
}

.ChatBot_InputBox_Container{
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    background-color: white;
    border-top: 1px solid #dddddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    display: flex;
}

.ChatBot_InputBox{
    height: 100%;
    width: 85%;
    background-color: white;
    border: 1px solid lightgrey;
    resize: none;
}
.ChatBot_InputBox:focus{
    outline: none;
    border: 1px solid rgb(180, 180, 180);
}

.ChatBot_SubmitBtn_Box{
    height: 100%;
    width: 15%;
}

.ChatBot_SubmitBtn{
    width: 13%;
    height: 100%;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8dc88;
    font-weight: 500;
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.ChatBot_SubmitBtn:focus{
    outline: none;
}
.ChatBot_SubmitBtn:active{
    font-size: 0.85em;
    border: 1.2px solid #dddddd;
}

.speechBubble_Container{
    margin-top: 20px;
    text-align: right;
}

.speechBubble{
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #f6d743;
}

/* BlockChain Page */
.BlockChain{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BlockChain_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}