/* Font-Montserrat */
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../src/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../src/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../src/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("../src/fonts/Montserrat-Black.ttf") format("truetype");
}

/* Font-정선동강체 */
@font-face {
  font-family: "JSDongkang";
  font-weight: 500;
  src: url("../src/fonts/JSDongkang-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JSDongkang";
  font-weight: 700;
  src: url("../src/fonts/JSDongkang-Bold.ttf") format("truetype");
}

* {
  font-family: "Montserrat", "JSDongkang", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* 편의상 정의 */
/* 폭&높이 100% */
.WH100pct {
  width: 100%;
  height: 100%;
}

/* 폭 100% */
.W100pct {
  width: 100%;
}

/* 높이 100% */
.H100pct {
  height: 100%;
}

/* 가로, 세로 가운데정렬 */
.xyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* div 가로/세로 정렬 */
.flexRow {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

/* 공통 */
html,
body,
#root,
#App {
  width: 100%;
  height: 100%;
}

/* #App{
  position: relative;
} */
.ReactRouterDom_Link {
  margin: 0 15px;
}

.ReactRouterDom_Link:hover {
  text-decoration: none;
}

#Header,
#Content,
#Footer {
  width: 100%;
}

#Header {
  width: 100%;
  height: 15vh;
  position: fixed;
  z-index: 300;
  top: 0;
}

/* .Body{
  width: 100%;
  box-sizing: content-box;
} */

#Content {
  height: 95%;
}

.Footer {
  height: fit-content;
  position: relative;
  bottom: 0;
  background: #f0f0f0;
  padding: 2.7% 5%;
  display: flex;
}

.ContentTitle {
  text-align: center;
  margin-bottom: 80px;
  border-bottom: 3px solid #343a40;
  padding-bottom: 10px;
}

/* 헤더 */
.Header_Navbar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: none;
}
.Header_Navbar > .mask_black {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.Header_logo {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

.Menu_Container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Menu {
  height: 100%;
  color: rgb(228, 224, 224);
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Menu:hover {
  color: white;
}

.navBar_left {
  display: flex;
  align-items: center;
  height: 100%;
}

.navBar_right {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
}

.navBar_right > a {
  margin-right: 20px;
}

.navBar_right > a:hover {
  text-decoration: none;
}
.navBar_right > a:nth-last-child(1) {
  margin-right: 0;
}

.navBar_right div {
  font-size: 16px;
}

#Menu_ChatBotService {
  position: relative;
  transition: all ease 2s 0s;
}

.dropDownMenu_Wrapper {
  position: absolute;
  top: 100%;
  display: none;
}

.dropDownMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.dropDownMenu .mask_black {
  opacity: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 1s;
}
.dropDownMenu .mask_black:hover {
  opacity: 0.5;
}
.dropDown_div {
  width: 200px;
  height: 200px;
  background-color: black;
  padding-top: 10px;
  transition: 1s;
  opacity: 0.5;
}
.dropDown_div:hover {
  opacity: 1;
  background-color: none;
}

.dropDown_div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDown_div img {
  width: 150px;
  height: 150px;
}

/* ---------- Body 내부 ---------- */
/* Body 공통 */
.Body-Container {
  margin: 15vh 0;
  padding: 5vh 10vw;
  box-sizing: border-box;
  min-height: 85vh;
}

.Article-Container {
  width: 100%;
  margin: 140px 0;
}
@media screen and (min-width: 1025px) {
  .Article-Container {
    padding: 0 15%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Article-Container {
    padding: 0 10%;
  }
}
@media screen and (max-width: 768px) {
  .Article-Container {
    padding: 0 5%;
  }
}

.article_title {
  padding: 30px 0;
}

/* 홈페이지 */
#HomePage {
  width: 100%;
  height: 100%;
}

/* 슬라이더 */
.slick-slider {
  width: 100%;
  height: 100%;
}
.slick-list {
  width: 100%;
  height: 100%;
}
.slick-track,
.slick-slide {
  height: 100%;
}
.slick-slide div {
  height: 100%;
}

/* 슬라이더 버튼 */
.slick-prev {
  left: 2% !important;
  position: relative;
  z-index: 5;
}
.slick-next {
  right: 2% !important;
}

/* 슬라이더 즉시이동 */
.slick-dots {
  bottom: 2% !important;
}

.slider_Wrapper {
  width: 100%;
  height: 100% !important;
  position: relative;
}

.slider_Img {
  width: 100%;
  height: 100%;
}
#slider_Img1 {
  position: relative;
  background-image: url("./img/pizza/combinationPizza.jpg");
  background-position-x: left;
  background-position-y: bottom;
}
#slider_Img2 {
  background-image: url("./img/iphone.jpg");
  background-size: 100%;
  background-position-y: top;
}

.maskForImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.mask_black {
  background-color: black;
  opacity: 0.5;
}

.slider_comment {
  position: absolute;
  box-sizing: content-box;
}

.slick-slider .slider_comment {
  height: fit-content;
}

.slider_comment1-1 {
  display: none;
  z-index: 1;
  font-size: 30px;
  color: white;
  top: 70%;
  left: 47%;
}
.slider_comment1-1 strong {
  font-size: 48px;
}

.slider_comment1-2 {
  display: none;
  z-index: 1;
  font-size: 60px;
  color: white;
  top: 80%;
  left: 55%;
}
.slider_comment2-1 {
  display: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
  font-size: 40px;
  color: white;
  top: 20%;
  left: 68%;
}
.slider_comment2-1 strong {
  font-size: 50px;
}

.slider_comment2-2 {
  display: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  word-spacing: -10px;
  z-index: 1;
  font-size: 24px;
  color: white;
  top: 28%;
  left: 80%;
}
.slider_comment2-2 strong:nth-child(1) {
  font-size: 32px;
  position: relative;
  left: -1.5%;
}
.slider_comment2-2 strong:nth-child(2) {
  font-size: 60px;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: -39%;
}

.slider_comment2-2 strong:nth-child(3) {
  font-size: 32px;
  position: relative;
  left: 1.5%;
}
/* .testDiv3{
  width: 100%;
  height: 100%!important;
  background-color: yellow;
  border: 1px solid black;
}
.testDiv4{
  width: 100%;
  height: 100%!important;
  background-color: purple;
  border: 1px solid black;
} */

/* 챗봇인트로 */
#ChatBotIntroPage {
  width: 100%;
}
.IntroImg {
  width: 100%;
  height: 90vh;
}
.IntroImg > div {
  flex-direction: column;
}

.IntroImg > div > h1,
.IntroImg > div > p {
  color: white;
}

#IntroImg_ChatBotIntro {
  background-image: url("./img/lightbulb.jpg");
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
#IntroImg_ChatBotDemo {
  background-image: url("./img/network.jpg");
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}

.introImg_pizzaMenuPage {
  background-image: url("./img/pizza_intro.jpg");
  background-size: 100%;
  background-position-x: center;
  background-position-y: 40%;
  background-attachment: fixed;
}

.IntroImg_Wrapper > img {
  width: 100%;
  height: auto;
}

#ChatBotIntroPage .Article-Container .xyCenter {
  position: relative;
}

.button_label {
  position: absolute;
  top: 0;
  left: 33%;
}

/* 챗봇데모 */
#ChatBotDemoPage {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#ChatBotDemoMain {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}

#ChatBotChatting_Container {
  width: 60%;
  height: 606px;
  box-sizing: border-box;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

/* ChatBotChatting 전체 영역 */
.ChatBotChattingBox_Wrapper {
  width: 100%;
  border: 3px solid lightgray;
  border-radius: 10px;
  margin-bottom: 10px;
}

#ChatBotChattingBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 490px;
  background-color: #ffaa64;
  border: 5px solid lightgray;
  box-sizing: border-box;
  padding: 15px 15px 0 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* 0724금, 경호, div 내 scrollbar */
#ChatBotChattingBox::-webkit-scrollbar {
  width: 10px;
}
#ChatBotChattingBox::-webkit-scrollbar-track {
  background-color: #ffaa64;
}
#ChatBotChattingBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fa8f38;
}
#ChatBotChattingBox::-webkit-scrollbar-button:start:decrement {
  width: 10px;
  height: 10px;
  background-color: #ffaa64;
}
#ChatBotChattingBox::-webkit-scrollbar-button:end:increment {
  width: 10px;
  height: 10px;
  background-color: #ffaa64;
}

/* 챗봇 채팅창 영역 */
.chatNextBox {
  margin-bottom: 20px;
}

.chatNextBox_right {
  text-align: right;
}

.chatBoxContainerForOtherUser {
  display: flex;
  flex-direction: row;
}

.chatProfilePicture {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.chatProfilePicture img {
  width: 40px;
  height: 40px;
}

.chatName {
  margin-bottom: 5px;
}

.chatContent {
  display: inline-block;
  background-color: #ffd460;
  border-radius: 15px;
  padding: 10px 10px;
  max-width: 300px;
}

.chatContent_left {
  border-top-left-radius: 0;
}

.chatContent_right {
  border-bottom-right-radius: 0;
}

/* 챗봇 입력 영역 */
#ChatBotInputBox_Container {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 8px solid lightgray;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

#InputForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#ChatBotInput_Box {
  width: 80%;
  height: 100%;
  padding: 10px;
}

#InputTextarea {
  width: 100%;
  height: 100%;
  border: none;
}

#InputTextarea:focus {
  outline: none;
}

#InputTextarea:active {
  border: none;
}

#ChatBotInput_Button {
  width: 20%;
  height: 40%;
  background-color: #ffd460;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}
#ChatBotInput_Button:hover {
  cursor: pointer;
}
#ChatBotInput_Button:active {
  background-color: #dfb952;
}

#ChatBotExtraBox_Container {
  width: 40%;
  height: 606px;
  border: 8px solid lightgray;
  border-radius: 15px;
  box-sizing: border-box;
}

#MemberIntroPage {
  width: 100%;
  margin: 0 auto;
}
#IntroImg_MemberIntro {
  position: relative;
  background-image: url("./img/cooperation.jpg");
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
#IntroImg_MemberIntro .mask_black {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#IntroImg_MemberIntro .xyCenter {
  position: relative;
  z-index: 1;
}

/* 푸터 */
.Footer a:hover {
  text-decoration: none;
}

.FooterDiv {
  width: 50%;
}

.footer_title {
  font-size: 15px;
  margin-bottom: 15px;
}

.Footer table {
  border-collapse: collapse;
  margin: 0 auto;
}

.Footer table td {
  font-size: 14px;
  padding: 0 10px 5px 10px;
}

.Footer table td:nth-child(2) {
  border-left: 1px solid lightgray;
}

.FooterDiv ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.FooterDiv ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.spanToFlex {
  display: flex;
  justify-content: space-evenly;
}

/* 회원가입 */
.Member-Container h1 {
  text-align: center;
  margin-bottom: 8vh;
}

.createMember_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.createMember_form .form-group {
  width: 40%;
  margin-bottom: 5vh;
}
.createMember_form .form-group:nth-last-child(2) {
  margin-bottom: 10vh;
}

.createMember_form button {
  width: 10vw;
}

/* 나의정보 */
.myPage_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.myPage_form > .form-row,
.myPage_form > .form-group {
  width: 60%;
}
.myPage_form > .form-row {
  display: flex;
  justify-content: space-between;
}
.myPage_form > .form-row > .form-group {
  width: 45%;
}

.myPage_form .form-group {
  margin-bottom: 5vh;
}
.myPage_form > .form-group:nth-last-child(2) {
  margin-bottom: 10vh;
}

.myPage_form button {
  width: 10vw;
}

/* 피자리스트 */
.pizzaMenuPage_main {
  width: 100%;
}

.pizzaMenuPage_pizzaGrade {
  width: fit-content;
  border-bottom: 5px solid #343a40;
}

.pizzaMenuPage_list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vw 3vw;
}

.pizzaMenuPage_list .pizzaMenuPage_menu_link {
  color: black;
  transition: 0.5s transform;
}
.pizzaMenuPage_list .pizzaMenuPage_menu_link:hover {
  text-decoration: none;
  font-weight: 500;
  transform: scale(1.05);
}

.pizzaMenuPage_menu {
  width: 100%;
  height: auto;
}

.pizzaMenuPage_img {
  width: 100%;
  height: inherit;
  border-radius: 10px;
  margin-bottom: 1vw;
}

.pizzaMenuPage_pizzaName {
}

.pizzaMenuPage_sizeNprice-box {
  display: flex;
}
.pizzaMenuPage_sizeNprice .size_icon {
  margin-right: 1vw;
}
.pizzaMenuPage_sizeNprice-box .pizzaMenuPage_sizeNprice {
  flex-basis: 0;
  flex-grow: 1;
}

/* 피자상세정보 & 주문 */
.pizzaDetailInfoPage {
  box-sizing: content-box;
}

.pizzaOutlineNOrder-box {
  display: flex;
  justify-content: space-between;
}

.pizzaOutline-box {
  width: 55%;
}

.pizzaOutline-box > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.otherPizza-container {
  margin-top: 5vh;
}
.otherPizza-container h3 {
  font-size: 20px;
}

.otherPizza-container .otherPizzaLink-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5vw 1.2vw;
  width: 100%;
  margin-top: 1vh;
}
.otherPizza-container .otherPizzaLink-box .otherPizza-Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #343a40;
}
.otherPizza-container .otherPizzaLink-box .otherPizza-Link:hover {
  text-decoration: none;
}
.otherPizza-container .otherPizzaLink-box .otherPizza-Link .otherPizza {
  width: 100%;
}
.otherPizza-container .otherPizzaLink-box .otherPizza-Link .otherPizza img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.5s transform;
}
.otherPizza-container
  .otherPizzaLink-box
  .otherPizza-Link
  .otherPizza
  img:hover {
  transform: scale(1.1);
}
.otherPizza-container .otherPizzaLink-box .otherPizza-Link p {
  margin: 0;
  margin-top: 1vh;
}

.pizzaOrder-box {
  width: 30%;
}

.pizzaOrder_form-box h4 {
  margin-bottom: 8vh;
  font-weight: 700;
}

.pizzaOrder_form select {
  display: block;
  width: 100%;
  margin-bottom: 5vh;
}

.pizzaOrder_price {
  display: block;
  text-align: right;
  font-weight: 700;
  font-size: 22px;
  margin-top: 7vh;
}

.pizzaOrder_form-box .button-box {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}

.pizzaOrder_form-box .button-box .button-Link:hover {
  text-decoration: none;
}

.pizzaDetailInfoPage .button {
  color: white;
  font-weight: 600;
  padding: 15px 25px;
  background-color: #ffd460;
  border-radius: 5px;
}

/* 주문 & 주문완료 & 장바구니 공통 */
.order_page > h3,
.orderComplete_page > h3 {
  border-bottom: 1px solid lightgray;
}

.order_page article > table,
.orderComplete_page table,
.basketList_page table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.order_page article > table th,
.orderComplete_page table th,
.basketList_page table th {
  background-color: rgb(245, 244, 244);
  height: 40px;
}

.order_page article > table th:nth-child(1),
.orderComplete_page table th:nth-child(1),
.basketList_page table th:nth-child(1) {
  width: 200px;
}

.order_page article > table td:nth-child(1),
.orderComplete_page table td:nth-child(1),
.basketList_page table td:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_page article > table td,
.orderComplete_page table td,
.basketList_page table td {
  height: 70px;
}

.order_page article > table img,
.orderComplete_page table img,
.basketList_page table img {
  height: 50px;
  width: 80px;
}

.totalPrice-container {
  display: flex;
  align-items: center;
  float: right;
  margin-bottom: 70px;
}

.totalPrice-container > div {
  padding: 0 10px;
}

.totalPrice-container .price-boxes span {
  text-align: center;
  display: block;
}

.orderComplete_page .button_box,
.basketList_page .button_box {
  clear: both;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.orderComplete_page .button_box > a:hover,
.basketList_page .button_box > a:hover {
  text-decoration: none;
}

#ChatBotIntroPage .button,
.orderComplete_page .button,
.basketList_page .button {
  color: white;
  font-weight: 600;
  padding: 15px 25px;
  background-color: #ffd460;
  border-radius: 5px;
}

/* 주문페이지 */

.order_page article {
  margin: 70px 10px;
}

.order_page h5 {
  margin-bottom: 25px;
  padding-bottom: 5px;
  width: fit-content;
  border-bottom: 3px solid lightgray;
}

.order_page article > table {
  margin-bottom: 70px;
}

.order_page .order_form table {
  width: 100%;
  margin-bottom: 70px;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.order_page .order_form table tr {
  height: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.order_page .order_form table th {
  font-size: 14px;
  padding-left: 30px;
  width: 200px;
  background-color: rgb(245, 244, 244);
}

.order_page .order_form table td {
  padding-left: 20px;
}

.order_page .order_form table td input {
  border: 1px solid lightgray;
  font-size: 14px;
  width: 300px;
  padding: 5px 0 5px 20px;
}

.order_page .order_form table td .input_address {
  width: 500px;
}

.order_page .order_form table td input:focus {
  outline: 1px solid rgb(163, 163, 163);
}

/* 주문완료 페이지 */

.orderComplete_page p {
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 30px 0;
}

/* 장바구니 */
.basketList_page article {
  margin: 10vh 0;
}
