body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* 편의상 정의 */
/* 폭&높이 100% */
.WH100pct{
  width: 100%;
  height: 100%;
}

/* 폭 100% */
.W100pct{
  width: 100%;
}

/* 높이 100% */
.H100pct{
  height: 100%;
}

/* 가로, 세로 가운데정렬 */
.xyCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* div 가로정렬 */
.flexRow{
  display: flex;
  flex-direction: row;
}

/* 공통 */
html, body, #root, #App{
  width: 100%;
  height: 100%;
}

/* #App{
  position: relative;
} */

.ReactRouterDom_Link:hover{
  text-decoration: none;
}

#Header, #Content, #Footer{
  width: 100%;
}

#Header{
  width: 100%;
  height: 16vh;
  position: fixed;
  z-index: 300;
}

/* .Body{
  width: 100%;
  box-sizing: content-box;
} */

#Content{
  height: 95%;
}

#Footer{
  height: 300px;
  position: relative;
  bottom: 0;
  background: #ccc;
  padding: 5% 5%;
}

.ContentTitle{
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 3px solid #343a40;
  padding-bottom: 10px;
}

/* 헤더 */
.Header_Navbar{
  position: relative;
  width: 100%;
  height: 90%;
  background-color: none;
}
.Header_Navbar>.mask_black{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.Header_logo{
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

.Menu_Container{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Menu{
  height: 100%;
  color: rgb(228, 224, 224);
  font-size: 25px;
  display: flex;
  align-items: center;
}
.Menu:hover{
  color:white;
}

#Menu_ChatBotService{
  position: relative;
  transition: all ease 2s 0s;
}

.dropDownMenu_Wrapper{
  position: absolute;
  top: 100%;
  display: none;
}

.dropDownMenu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.dropDownMenu .mask_black{
  opacity: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 1s;
}
.dropDownMenu .mask_black:hover{
  opacity: 0.5;
}
.dropDown_div{
  width: 200px;
  height: 200px;
  background-color: black;
  padding-top: 10px;
  transition: 1s;
  opacity: 0.5;
}
.dropDown_div:hover{
  opacity: 1;
  background-color: none;
}

.dropDown_div div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDown_div img{
  width: 150px;
  height: 150px;
}

/* ---------- Body 내부 ---------- */
/* Body 공통 */
.Article_Container{
  width: 100%;
  margin: 140px 0;
}
@media screen and (min-width: 1025px){
  .Article_Container{
    padding: 0 15%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  .Article_Container{
    padding: 0 10%;
  }
}
@media screen and (max-width: 768px ){
  .Article_Container{
    padding: 0 5%;;
  }
}

/* 홈페이지 */
#HomePage{
  width: 100%;
  height: 100%;  
}

/* 슬라이더 */
.slick-slider{
  width: 100%;
  height: 100%;
}
.slick-list{
  width: 100%;
  height: 100%;
}
.slick-track, .slick-slide{
  height: 100%;
}
.slick-slide div{
  height: 100%;
}

/* 슬라이더 버튼 */
.slick-prev{
  left:2%!important;
  position: relative;
  z-index: 5;
}
.slick-next{
  right:2%!important;
}

/* 슬라이더 즉시이동 */
.slick-dots{
  bottom: 2%!important;
}

.slider_Wrapper{
  width: 100%;
  height: 100%!important;
}

.slider_Img{
  width: 100%;
  height: 100%;
}
#slider_Img1{
  position: relative;
  background-image: url('./img/pizza2.jpg');
  background-position-x: left;
  background-position-y: bottom;
}
#slider_Img2{
  background-image: url('./img/iphone.jpg');
  background-size: 100%;
  background-position-y: top;
}
.maskForImg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.mask_black{
  background-color: black;
  opacity: 0.5;
}
/* .testDiv3{
  width: 100%;
  height: 100%!important;
  background-color: yellow;
  border: 1px solid black;
}
.testDiv4{
  width: 100%;
  height: 100%!important;
  background-color: purple;
  border: 1px solid black;
} */

/* 챗봇인트로 */
#ChatBotIntroPage{
  width: 100%;
}
.IntroImg{
  width: 100%;
  height: 90vh;
}
.IntroImg>div{
  flex-direction: column;
}

.IntroImg>div>h1, .IntroImg>div>p{
  color: white;
}

#IntroImg_ChatBotIntro{
  background-image: url('./img/lightbulb.jpg');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
#IntroImg_ChatBotDemo{
  background-image: url('./img/network.jpg');
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}

.IntroImg_Wrapper>img{
  width: 100%;
  height: auto;
}

/* 챗봇데모 */
#ChatBotDemoPage{
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

#ChatBotDemoMain{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}

#ChatBotChatting_Container{
  width: 60%;
  height: 606px;
  box-sizing: border-box;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

/* ChatBotChatting 전체 영역 */
.ChatBotChattingBox_Wrapper{
  width: 100%;
  border: 3px solid lightgray;
  border-radius: 10px;
  margin-bottom: 10px;

}

#ChatBotChattingBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 490px;
  background-color: #ffaa64;
  border: 5px solid lightgray;
  box-sizing: border-box;
  padding: 15px 15px 0 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

  /* 0724금, 경호, div 내 scrollbar */
#ChatBotChattingBox::-webkit-scrollbar{
  width: 10px;
}
#ChatBotChattingBox::-webkit-scrollbar-track{
  background-color: #ffaa64;
}
#ChatBotChattingBox::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #fa8f38;
}
#ChatBotChattingBox::-webkit-scrollbar-button:start:decrement{
  width: 10px;
  height: 10px;
  background-color: #ffaa64;
}
#ChatBotChattingBox::-webkit-scrollbar-button:end:increment{
  width: 10px;
  height: 10px;
  background-color: #ffaa64;
}


/* 챗봇 채팅창 영역 */
.chatNextBox{
  margin-bottom: 20px;
}

.chatBoxContainerForOtherUser{
  display: flex;
  flex-direction: row;
}

.chatProfilePicture{
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.chatProfilePicture img{
  width: 40px;
  height: 40px;
}

.chatName{
  margin-bottom: 5px;
}

.chatContent{
  display: inline-block;
  background-color: #ffd460;
  border-radius: 10px;
  padding: 10px 10px;
  max-width: 300px;
}
.chatContent_right{
  text-align: right;
}

/* 챗봇 입력 영역 */
#ChatBotInputBox_Container{
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 8px solid lightgray;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

#InputForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#ChatBotInput_Box{
  width: 80%;
  height: 100%;
  padding: 10px;
}

#InputTextarea{
  width: 100%;
  height: 100%;
  border: none;
}

#InputTextarea:focus{
  outline: none;
}

#InputTextarea:active{
  border:none
}

#ChatBotInput_Button{
  width: 20%;
  height: 40%;
  background-color: #ffd460;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}
#ChatBotInput_Button:hover{
  cursor: pointer;
}
#ChatBotInput_Button:active{
  background-color: #dfb952;
}




#ChatBotExtraBox_Container{
  width: 40%;
  height: 606px;
  border: 8px solid lightgray;
  border-radius: 15px;
  box-sizing: border-box;
}

#MemberIntroPage{
  width: 100%;
  margin: 0 auto;
}
#IntroImg_MemberIntro{
  position: relative;
  background-image: url('./img/cooperation.jpg');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
#IntroImg_MemberIntro .mask_black{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#IntroImg_MemberIntro .xyCenter{
  position: relative;
  z-index: 1;
}


/* Footer */
.FooterDiv{
  width: 50%;
}